name: Build Docker Image

on:
  push:
    tags:
      - "*"
  workflow_dispatch:    

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize Build Space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 2048
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
      # 新增：移动 Docker 数据目录到大分区
      - name: Move Docker Data Root
        run: |
          sudo systemctl stop docker.service
          sudo systemctl stop docker.socket
          # 创建一个新的目录在大分区上
          sudo mkdir -p /home/runner/work/palworld-docker/palworld-docker/docker-data
          # 修改配置文件指向新路径
          echo '{"data-root": "/home/runner/work/palworld-docker/palworld-docker/docker-data"}' | sudo tee /etc/docker/daemon.json
          sudo systemctl start docker.service     

      - name: Check Free Space
        run: df -h
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ywmdocker/palworld
          tags: |
            # 被动触发：用 tag
            type=ref,event=tag
            # 手动触发：用 latest
            type=raw,value=latest,enable=${{ github.event_name == 'workflow_dispatch' }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
